mixin comment(comment)
    div(data-id=comment._id)
        span=comment.ownerID.username
        span.comSpace   
        span=comment.text
        if String(comment.ownerID._id) == String(loggedInUser._id)
            span(class='delcom')='❌'