extends base.pug



block content 
    h4 change title of video
    form(method="POST")
        input(name="title",placeholder="video title", value=pageTitle, required)
        input(value="save",type="submit")


