extends base
include mixins/video
block content 
    form(action="", method="get").search__form
        input(type="text", name="keyword")
        button
            i.fas.fa-search
    
    div.video-grid
        each video in videos 
            +video(video) 
        else
            span.empty__message No videos found 